@model TaskManagementSystemMITT.Models.ProjectTask

@{
    ViewBag.Title = "Comment";
}
<h4>Comment </h4>
<br />

@if (string.IsNullOrEmpty(Model.Comment))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.Description)
            @Html.HiddenFor(model => model.StartDateTime)
            @Html.HiddenFor(model => model.EndDateTime)
            @Html.HiddenFor(model => model.PercentCompleted)
            @Html.HiddenFor(model => model.ProjectId)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.IsCompleted)
            @Html.HiddenFor(model => model.Priority)
            @Html.HiddenFor(model => model.Budget)

            <div class="form-group">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    @Html.DisplayFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
}

<div>
    @Html.ActionLink("Back to List", "Index", "Manage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
