@model List<TaskManagementSystemMITT.Models.ProjectTask>

@{
    ViewBag.Title = "GetAllTasksForProject";
}

<h2>Viewing all tasks for project @ViewBag.Project.Name</h2>
@Html.ActionLink("Back to Dashboard", "Index", "Manage")
<br />
@Html.ActionLink("Hide Completed ", "HideCompletedTasks", "Manage", new { Id = ViewBag.Project.Id }, null)
<br />
@Html.ActionLink("Show All", "GetAllTasksForProject", "Manage", new { Id = ViewBag.Project.Id }, null)

<style>
    table {
        border-collapse: separate;
        border: solid black 2px;
        border-radius: 6px;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-left: solid black 1px;
        border-top: solid black 1px;
    }

    th {
        border-top: none;
    }

        td:first-child, th:first-child {
            border-left: none;
        }

    .floatleft {
        width: 50%;
        float: left;
    }

    .floatright {
        width: 50%;
        float: right;
    }

    .container {
        overflow: hidden;
    }
</style>



<div class="container">
    <div class="floatleft">
        <h5>Working</h5>
        @foreach (var task in Model)
        {
            if (task.PercentCompleted >= 100)
            {
                task.MarkCompleted(task.Id);
            }
            if (!task.IsCompleted)
            {
    <table style="width: 35%;border:groove; ">
        <tr>
            <th>Task</th>
        </tr>
        <tr>
            <td>@task.Description</td>
        </tr>
        <tr>
            <td>
                Priority: @task.Priority<br />
                Progress: @task.PercentCompleted % <br />
                @(task.PercentCompleted < 100 ? @Html.ActionLink("Update Progress ", "Edit", "Task", new { Id = task.Id }, null) :
@Html.ActionLink("Move to Completed", "Edit", "Task", new { Id = task.Id }, null))
            </td>
        </tr>
        <tr>
            <td>Cost: @task.GetCost(task.Id)</td>
        </tr>

    </table>
                <br />
            }
        }
    </div>
    <div class="floatright">
        <h5>Completed</h5>

        @foreach (var task in Model)
        {
            if (task.IsCompleted)
            {
    <table style="width: 35%;border:groove; ">

        <tr>
            <th>Task</th>
        </tr>
        <tr>
            <td>@task.Description</td>
        </tr>
        <tr>
            <td>
                Priority: @task.Priority<br />
            </td>
        </tr>
        <tr>
            <td>Cost: @task.GetCost(task.Id)</td>
        </tr>
    </table>
                <br />


            }
        }
    </div>
</div>






