@model TaskManagementSystemMITT.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<style>
    table {
        border-collapse: separate;
        border: solid black 2px;
        border-radius: 6px;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-left: solid black 1px;
        border-top: solid black 1px;
    }

    th {
        border-top: none;
    }

        td:first-child, th:first-child {
            border-left: none;
        }

    .floatleft {
        width: 50%;
        float: left;
    }

    .floatright {
        width: 50%;
        float: right;
    }

    .container {
        overflow: hidden;
    }
</style>

@if (Model.Projects == null)
{
    <h3>Developer Dashboard for @ViewBag.User.UserName</h3>
    @Html.ActionLink("Hide Completed ", "HideCompletedTasksForUser", "Manage", new { Id = ViewBag.User.Id }, null)
    <br />
    @Html.ActionLink("Show All", "Index", "Manage", new { Id = ViewBag.User.Id }, null)

    <h4>Tasks:</h4>

    <div class="container">
        <div class="floatleft">
            <h5>Working</h5>
            @foreach (var task in Model.Tasks)
            {
                if (!task.IsCompleted)
                {
                    <table style="width: 35%;border:groove; ">
                        <tr>
                            <th>Task</th>
                        </tr>
                        <tr>
                            <td>@task.Description</td>
                        </tr>
                        <tr>
                            <td>
                                Priority: @task.Priority<br />
                                @(task.PercentCompleted < 100 ? @Html.ActionLink("Update Progress ", "Edit", "Task", new { Id = task.Id }, null) :
                                @Html.ActionLink("Move to Completed", "MarkCompleted", "TaskHelper", new { Id = task.Id }, null))
                            </td>
                        </tr>
                        <tr>
                            <td>Cost: @task.GetCost(task.Id)</td>
                        </tr>
                    </table>
                    <br />
                }
            }
        </div>
        <div class="floatright">
            <h5>Completed</h5>
            @foreach (var task in Model.Tasks)
            {
                if (task.IsCompleted)
                {
                    <table style="width: 35%;border:groove; ">

                        <tr>
                            <th>Task</th>
                        </tr>
                        <tr>
                            <td>@task.Description</td>
                        </tr>
                        <tr>
                            <td>
                                Priority: @task.Priority<br />
                                @(task.Comment == null ? @Html.ActionLink("Add a Comment", "Comment", "Task", new { Id = task.Id }, null) :
                                @Html.ActionLink("View Comments", "ViewComment", "TaskHelper", new { Id = task.Id }, null))
                            </td>
                        </tr>
                        <tr>
                            <td>Cost: @task.GetCost(task.Id)</td>
                        </tr>
                    </table>
                    <br />
                }
            }
        </div>
    </div>
}

else
{
    <h3> Project Manager Dashboard for @ViewBag.User.UserName</h3>
    <div class="floatleft">@Html.ActionLink("Create a New Project", "Create", "Projects")</div>
    <div class="floatleft">@Html.ActionLink("Create a New Task", "Create", "Task")</div>
    <div class="floatright">@Html.ActionLink("Show all", "Index")</div>
    <div class="floatright">@Html.ActionLink("Show projects that exceed budget", "ShowProjectsExceedBudget", "Manage", new { Id = ViewBag.User.Id }, null)</div>
    foreach (var project in Model.Projects)
    {
        <table style="width: 61%;border:groove;">
            <tr>
                <th>Project: @project.Name <span style="float:right;">@Html.ActionLink("Delete Project", "Delete", "Projects", new { Id = project.Id, }, null)</span></th>
            </tr>
            <tr>
                <td>Priority: @project.Priority</td>
            </tr>
            <tr>
                <td>@project.Description</td>
            </tr>
            <tr>
                <td>Due Date: @project.DueDate.ToString()</td>
            </tr>
            <tr>
                <td>Budget: @project.Budget</td>
            </tr>
            <tr>
                <td>Cost: @project.GetCost(project.Id)</td>
            </tr>
            <tr>
                <td>
                    Tasks remaining: @project.ProjectTasks.Count() | &nbsp; @Html.ActionLink("View Tasks", "GetAllTasksForProject", "Manage", new { Id = project.Id, }, null)
                </td>
            </tr>
            <tr>
                <td>Completed: @project.GetProgress(project.Id) %</td>
            </tr>

        </table>
        <br />
    }



}
