@model List<TaskManagementSystemMITT.Models.Notification>
@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>

@foreach (var n in Model)
{
    <table style="width: 35%;border:groove; ">
        <tr>
            <th>Created On: @n.DateTime</th>
        </tr>
        <tr>
            <td>@n.Body </td>
        </tr>
        <tr>
            @if (n.User.UserName == User.Identity.Name)
            {
                <td>Received By: @n.User.UserName</td>
            }
            else
            {
                <td>Created By: @n.User.UserName</td>
            }

        </tr>
    </table>

}

@Html.ActionLink("Back to dashboard", "ReadAll")
